body {
    background: #f9f9f9;
    font-family: 'Times New Roman', serif;
}

.productos-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 50px 0;
}

.producto-card {
    background: white;
    border-radius: 20px;
    width: 320px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.12);
    transition: 0.2s;
}

.producto-card:hover {
    transform: translateY(-5px);
}

.producto-img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.producto-nombre {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.producto-precio {
    color: #333;
    font-size: 20px;
    margin: 10px 0;
}

.producto-descripcion {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.btn-agregar {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
}

.btn-agregar:hover {
    background: #333;
}
.footer {
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 18px;
}
